<div align="center">
  <h2>BIOENFORMATIK</h2>
</div>
</div>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
</div>
<style type='text/css'>
  .wrapper {
    position: relative;
    float: left;
    left: 0px;
    width: 1299px;
    margin-bottom: 20px;
    background-color: #cccccc
  }

  .left1 {
    position: relative;
    float: left;
    left: 200px;
    width: 25px;
  }

  .left2 {
    position: relative;
    float: left;
    left: 240px;
    width: 200px;
  }

  .left3 {
    position: relative;
    float: left;
    left: 360px;
    width: 300px;
  }

  body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    background-color: #e7e7de
  }
</style>
<div class="wrapper">
  <div class="left1">
    <table style="empty-cells: show">
      <tr>
        <th></th>
        <th>&nbsp;</th>
      </tr>
      <% a = 0 %>
      <% @sequence1.each_char do |c| %>
        <tr>
          <td><%= c %></td>
          <td><%= a %></td>
        </tr>
        <% a = a + (-10) %>
      <% end %>
    </table>
  </div>
  <div class="left2">
    <table id="mytable">
      <tr>
        <% @sequence2.each_char do |c| %>
          <th><%= c %></th>
        <% end %>
      </tr>
      <tr>
        <td>-10</td>
        <td>-20</td>
        <td>-30</td>
        <td>-10</td>
        <td>-20</td>
        <td>-30</td>
      </tr>
      <tr>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </table>
  </div>
  <div class="left3">
    <form action="/welcome/index">
      <h2>seq giriniz</h2>
      <%= form_for :anything, url: "welcome/index" do |form| %>
        <%= form.text_area :name %>
        <br>
        <%= form.submit %>
      <% end %>
    </form>
    <input type="button" value="ReadMe" onclick="getCellValues()" style="cursor:cell ">
  </div>
</div>
<script>
    function getCellValues() {
        var table = document.getElementById('mytable');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                if (r == 2 && c == 0) {
                    alert(table.rows[r].cells[c].innerHTML);
                    table.rows[r].cells[c].bgColor="Yellow";
                }
            }
        }
    }
</script>



