<%= form_with(model: sequpair, local: true) do |form| %>
  <% if sequpair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sequpair.errors.count, "error") %> prohibited this sequpair from being saved:</h2>

      <ul>
        <% sequpair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seq1 %>
    <%= form.text_area :seq1, id: :sequpair_seq1, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :seq2 %>
    <%= form.text_area :seq2, id: :sequpair_seq2 %>
  </div>

  <div class="field">
    <%= form.label :mattype %>
    <%= form.select :mattype, options_for_select(["BLOSUM62", "PAM"]) %>
  </div>

  <div class="field">
    <%# form.label :result %>
    <%= form.hidden_field :result, id: :sequpair_result %>
  </div>

  <div class="field">
    <%= form.label :gap %>
    <%= form.number_field :gap, id: :sequpair_gap, value: -10 %>
  </div>

  <div class="field">
    <%= form.label :mismatch %>
    <%= form.number_field :mismatch, id: :sequpair_mismatch, value: -1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
