<p id="notice"><%= notice %></p>

<h3>Sequpairs</h3>

<table>
  <thead>
    <tr>
      <th>Seq1</th>
      <th>Seq2</th>
      <th>Mattype</th>
      <th>Result</th>
      <th>Gap</th>
      <th>Mismatch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sequpairs.each do |sequpair| %>
      <tr>
        <td><%= sequpair.seq1 %></td>
        <td><%= sequpair.seq2 %></td>
        <td><%= sequpair.mattype %></td>
        <td><%= sequpair.result %></td>
        <td><%= sequpair.gap %></td>
        <td><%= sequpair.mismatch %></td>
        <td><%= link_to 'Show', sequpair %></td>
        <td><%= link_to 'Edit', edit_sequpair_path(sequpair) %></td>
        <td><%= link_to 'Destroy', sequpair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sequpair', new_sequpair_path %>
