<h3><%= @sequpair.mattype %></h3>
<br>
<div class="divSol">
  <div>
    <table id="solTable" style="empty-cells: show; width: max-content; float: right;">
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <% @sequpair.seq1.each_char do |c| %>
        <tr>
          <td><%= c %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="divOrta">
  <table id="matrix" style="float: left; table-layout: fixed;margin: 0px">
    <tr>
      <th>&nbsp;</th>
      <% @sequpair.seq2.each_char do |c| %>
        <th><%= c %></th>
      <% end %>
    </tr>
    <% @matrixhtml.each do |r| %>
      <tr>
        <% r.each do |c| %>
          <td>
            <%= c.to_s %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<div class="right">
  <%= @sequpair.mattype %>
  <p>
    <strong>Seq1:</strong>
    <%= @sequpair.seq1 %>
  </p>
  <p>
    <strong>Seq2:</strong>
    <%= @sequpair.seq2 %>
  </p>
  <p>
    <strong>Result:</strong>
    <%= @sequpair.result %>
  </p>
  <input type="button" value="ShowMeWay" onclick="getCellValues()" style="cursor:cell ">
  <div>
    <%= link_to 'Edit', edit_sequpair_path(@sequpair) %> |
    <%= link_to 'Back', sequpairs_path %>
  </div>
</div>
<script>
    function getCellValues() {
        var table = document.getElementById('matrix');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            for (var c = 0, m = table.rows[r].cells.length; c < m; c++) {
                if (r == 0 && c == 0) {
                    alert(table.rows[r].cells[c].innerHTML);
                    table.rows[r].cells[c].bgColor = "Yellow";
                }
            }
        }
    }
</script>